.elements {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 0.5px;
  position: relative;
  top: 20px;
}

.addTask {
  padding-left: 13px;
  width: 638px;
  height: 54px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #262626;
  color: #ffff;
}

.buttonCreate {
  padding: 16px;
  width: 90px;
  height: 52px;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #1e6f9f;
  color: #ffff;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonCreate:disabled {
  background-color: #1e6f9f;
  color: #ffff;
  cursor: not-allowed;
}
