body {
  background-color: rgb(101, 109, 109);
}

img {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
}

.elem {
  display: flex;
 padding-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 0.5px;
}

.tarefas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding-top: 50px;
}

.itens-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
