.item {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #494747;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto 30px;
  background-color: #494747;
  justify-content: space-between;
  width: 50%;
  word-break: break-all;
}

.checkbox {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #6b6868;
}

.trash:hover {
  cursor: pointer;
  color: #fff;
}

span {
  color: #fff;
}
